{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vocabulary.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <!-- Single button -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ datas[0].file_name }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
    {% for data in datas %}
      <li class="data-select" data-val="{{ data.id }}"><a href="#">{{ data.file_name }}</a></li>
    {% endfor %}
    </ul>
  </div>

  <h3>Translate</h3>
  <table class="table table-bordered">
  	<thead>
  		<tr>
  			<th>Question</th>
  			<th>Your Answer</th>
        <th>Correct Answer</th>
        <th>#</th>
  		</tr>
  	</thead>
  	<tbody id="q">
  	</tbody>
  </table>
  <button class="btn btn-info pull-right" id="answer">算分數</button>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/vocabulary.js') }}"></script>
{% endblock %}
